body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #281D44;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.hidden {
    opacity: 0;
}

.feature-img{
    margin-top: 55.5px;
    width: 100vw;
    height: 85vh;
    max-height: 85vh;
}

/* title */

#title {
    background-color:rgb(215, 233, 240);
    padding: 0px 0px;
    position: relative;
    margin: 0px 0px;
    border: 0px 0px;
}

/* logo */
#navbar {
    position: fixed;
    z-index: 3;
    width: 100vw;
    background-color: #6d56f0;
}

.navbar {
    background-color: #D5F5FF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.navbar-items {
    display: none;
    position: absolute;
    top: 1vh;
    right: 5vw;
    padding: 10px;
    flex-direction: row;
    border: none;
    transition: 1s;
}

.navbar-items.show {
    display: flex;
    transition: 1s;
}

.navbar-items li {
    margin: 0 0px;
    list-style: none;
}

.navbar-items li a {
    color: black;
    text-decoration: none;
}

.navbar-toggle {
    display: block;
    cursor: pointer;
    background-color: black;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.nav-link {
    padding: 0 10px;
}


#logo-img {
    width: 25px;
    height: 42.5px;
    border: none;
}

.nav-text {
    font-size: 1.2rem;
}

.nospace {
    margin: 0 0;
    padding: 0 0;
}
/* features */

#features {
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-top: 0px;
}

#features h3 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-size: 3rem;
}


/* Artists */
/* #popular artists */

.sub-section {
    margin-top: 5vh;
}

#artists {
    margin-top: 0vh;
    /* margin-bottom: 4vh; */
    padding: 5vh;
    background-color: #85BCEE;
    color: #00008B;
}

#popular-artist-list {
    width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center > div {
    margin: 0 auto; /* Added to center the individual images */
}
  

.popular-artists-image-dia {
	background-size: cover;
	height:300px;
	width: 300px;
	border:0px;
	border-radius: 50%;
}

#popular-artists-image-1{
	background-image: url(../images/art1.jpeg)

}
#popular-artists-image-2{
	background-image: url(../images/art2.jpeg);
}

#popular-artists-image-3{
	background-image: url(../images/art3.jpeg);
}
#popular-artists-image-4{
	background-image: url(../images/art4.jpeg);
}



#popular-artists-text{
	text-align: center;
	margin-top: 40%;
	color: wheat;
	font-family: sans-serif;
	font-weight: bold;
    font-size: larger;
}

#popular-artists-text a{
	text-decoration: none;
	color: wheat;
}

.img-animate:hover {
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
	opacity: 0.8;
}

.about {
    background-color: #281D44;
    color: wheat;
}

#about img {
    width: 250px;
    height: 38.5px;
}

.hide {
    display: none;
}

#popular-artists .img-animate:hover>.hide{
	display: block;
}

/* contruters*/
#contributor {
    background-color: #B2D5F4;
    padding: 3% 15%;
    color: #00008B;
}

.contributor-img {
    width: 150px;
    border-radius: 100%;
}

.contributor-profile {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}

/* youtube */
.youtube-items {
    width: 100%;
    height: 300px;
    max-width: 45vw;
}


.about-text {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 2rem;
    text-align: justify;
}

#footer {
    background-color: #fff;
    padding: 3% 15% 0;
}


#footer p {
    padding-top: 30px;
    margin-bottom: 0;
    font-size: small;
    font-style: italic;
}

.social {
    margin: 3vw;
    color: black;
}



@media (max-width: 900px) {
    /* navigation bar */
    #logo-img {
        width: 25px;
        height: 42.5px;
    }

    .navbar-items {
        right: 10vw;
    }

    .nav-link {
        padding: 0 5px;
    }

    .nav-text {
        font-size: 1rem;
    }


    /* artist */

    .popular-artists-image-dia {
        background-size: cover;
        height:200px;
        width: 200px;
        border:0px;
        border-radius: 50%;
        
    }

    #popular-artist-list {
        width: 80vw;
        height: 500px;
    }

    .contributor-profile {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        height: 200px;
        line-height: 1.2;
    }

    .contributor-img {
        width: 150px;
        border-radius: 100%;
    }    

    .about-text {
        font-size: 14px;
        line-height: 1.5rem;
    }

    .feature-img{
        width: 100%;
        height: 50vh;
    }

    #footer p {
        font-size: small;
    }
    }
