body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.hidden {
    opacity: 0;
}

.feature-img{
    width: 100vw;
    height: 85vh;
    max-height: 85vh;
}

/* title */

#title {
    background-color:rgb(215, 233, 240);
    padding: 0px 0px;
    position: relative;
    margin: 0px 0px;
    border: 0px 0px;
}

/* logo */
#logo-img, .nav-toggler-btn{
    width: 25px;
    height: 42.5px;
    /* border-radius: 50%; */
    border: none;
}

.nav-text {
    font-size: 1.2rem;
}

.nospace {
    margin: 0 0;
    padding: 0 0;
}
/* features */

#features {
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-top: 0px;
}

#features h3 {
    font-family: 'Roboto-Black', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-size: 3rem;
}


/* Artists */
/* #popular artists */

.sub-section {
    margin-top: 5vh;
}


#popular-artist-list {
    width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
    align-items: space-between;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center > div {
    margin: 0 auto; /* Added to center the individual images */
}
  

.popular-artists-image-dia {
	background-size: cover;
	height:300px;
	width: 300px;
	border:0px;
	border-radius: 50%;
}

#popular-artists-image-1{
	background-image: url(../images/art1.jpeg)

}
#popular-artists-image-2{
	background-image: url(../images/art2.jpeg);
}

#popular-artists-image-3{
	background-image: url(../images/art3.jpeg);
}
#popular-artists-image-4{
	background-image: url(../images/art4.jpeg);
}



#popular-artists-text{
	text-align: center;
	margin-top: 40%;
	color: wheat;
	font-family: sans-serif;
	font-weight: bold;
    font-size: larger;
}

#popular-artists-text a{
	text-decoration: none;
	color: wheat;
}

.img-animate:hover {
    box-shadow: 0px 0px 9px 5px rgba(230,196,196,0.2);
	opacity: 0.8;
}

#about img {
    width: 250px;
    height: 38.5px;
}

.hide {
    display: none;
}

#popular-artists .img-animate:hover>.hide{
	display: block;
}

/* contruters*/
#contributor {
    background-color: ghostwhite;
    padding: 3% 15%;
}

.contributor-img {
    width: 150px;
    border-radius: 100%;
}

.contributor-profile {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}

/* youtube */
.youtube-items {
    width: 100%;
    height: 300px;
    max-width: 45vw;
}


.about-text {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 2rem;
}

#footer {
    background-color: #fff;
    padding: 3% 15% 0;
}


#footer p {
    padding-top: 30px;
    margin-bottom: 0;
    font-size: small;
    font-style: italic;
}

.social {
    margin: 3vw;
    color: black;
}


@media (max-width: 1200px) {
    /* navigation bar */
    #logo-img {
        width: 52px;
        height: 89px;
    }

    .nav-toggler-btn {
        width: 100px;
        height: 125px;
    }

    .nav-text {
        font-size: 2rem;
    }

    /* artist */

    .popular-artists-image-dia {
        background-size: cover;
        height:500px;
        width: 500px;
        border:0px;
        border-radius: 50%;
        
    }

    #popular-artist-list {
        width: 80vw;
        height: 1200px;
    }

    .contributor-img {
        width: 250px;
        border-radius: 100%;
    }    

    .contributor-name {
        font-size: 3rem;
    }

    .contributor-profile {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        font-size: 2.2rem;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        height: 320px;
    }

    .about-text {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    .feature-img{
        width: 100%;
        height: 50vh;
    }

    #footer p {
        font-size: 2rem;
    }
    }



@media (max-width: 900px) {
    /* navigation bar */
    #logo-img {
        width: 25px;
        height: 42.5px;
    }

    .nav-toggler-btn{
        width: 40px;
        height: 40px;
        padding-right: 40px;
    }

    .nav-text {
        font-size: 1rem;
    }


    /* artist */

    .popular-artists-image-dia {
        background-size: cover;
        height:200px;
        width: 200px;
        border:0px;
        border-radius: 50%;
        
    }

    #popular-artist-list {
        width: 80vw;
        height: 500px;
    }

    .contributor-profile {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        height: 200px;
        line-height: 1.2;
    }

    .about-text {
        font-size: 14px;
        line-height: 1.5rem;
    }

    .feature-img{
        width: 100%;
        height: 50vh;
    }

    #footer p {
        font-size: small;
    }
    }
